{% extends "index.html" %}
{% block h %}{% endblock %}
{% block body %}
  <head>
    <title>Add Stocks</title>
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/add.js"></script>
    <link href="/static/css/addStocks.css" rel="stylesheet">
  </head>


<body class="bodi">


<p id="choix"><a href="#" onclick = "toggle('jumbotron')">Addstocks</a> | <a href="#" onclick = "toggle('jumbotron1')">AddBonds</a></p>



  <section div="sectionaddsto">
    <div class="container">
    <!--<img class="w3-image" src="/static/img/stocks2.jpg">-->
      <div id="jumbotron">
        <h1>Add Stocks</h1>
        <hr id="Separe">
        <div type="scroll">
        <form class="form-addStocks" action="/addStocks" method="post">
            <tr>
              <th> Name</th>
              <th> Code </th>
              <th> Select </th>
              <th> Select1 </th>
              <th> Select2 </th>
              <th> Select3 </th>
              <th> Select3 </th>
              <th> Select3 </th>
              <th> Select3 </th>

            </tr>
          {% for stock in data %}
            <tr>
              <td>
                {% print(stock[2]) %}
              </td>
              <td>
                {% print(stock[1]) %}
              </td>
              <td>
                  <input type="radio" name={%print(stock[0])%} id="stock"> </input>
              </td>
            </tr>
          {% endfor %}
        </table>
          <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit"> Add a Stock </button>
        </form>
      </div>
    </div>

    <div id="jumbotron1">
      <h1>List of Bonds</h1>
      <hr id="Separe1">
      <form class="form-addStocks" action="/addBonds" method="post">
        <table>
          <tr>
            <th> Issue</th>
            <th> Issuer </th>
            <th> Select </th>
          </tr>
        {% for bond in bonds %}
          <tr>
            <td>
              {% print(bond[1]) %}
            </td>
            <td>
              {% print(bond[3]) %}
            </td>
            <td>
                <input type="radio" name={%print(bond[0])%} id="bond"> </input>
            </td>
          </tr>
        {% endfor %}
      </table>

        <button id="addBonds"  type="submit"> Add </button>
      </form>
    </div>

  </div>
</body>

{% endblock %}
