<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Sign In</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
           <div class="jumbotron">
        
        <table>
          <tr>
            <th>
              Name
            </th>
            <th>
              Risk
            </th>
            <th>
              Amount
            </th>
            <th>
              Stocks
            </th>
          </tr>
          <tr>
            <td>
              {% print(portfolioName) %}
            </td>
            <td>
              {% print(portfolioRisk) %}
            </td>
            <td>
              {% print(portfolioAmount) %}
            </td>
            <td>
                <table>
                  <tr>
                    <th> Stock Name</th>
                    <th> Code </th>
                    <th> Weight </th>
                    <th> Quantity </th>
                  </tr>
                {% for each in stocks %}
                  <tr>
                    <td>
                      {% print(each[1]) %}
                    </td>
                    <td>
                      {% print(each[2]) %}
                    </td>
                    <td>
                      {% print(each[0]) %}
                    </td>
                                        <td>
                      {% print(each[3]) %}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </td>
            <td>
                <table>
                  <tr>
                    <th> Bond Name</th>
                    <th> Code </th>
                    <th> Weight </th>
                    <th> Quantity </th>
                  </tr>
                {% for each in bonds %}
                  <tr>
                    <td>
                      {% print(each[2]) %}

                    </td>
                    <td>
                      {% print(each[1]) %}
                    </td>
                    <td>
                      {% print(each[0]) %}
                    </td>
                    <td>
                      {% print(each[3]) %}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>
      </div>
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>